/* Login.css */

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width:40%;
  height:55%;
  margin-bottom: 10px;
}

div {
  margin-bottom: 45px;
  
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 50px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;

}

button2 {
  width: 600px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #43EFC6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 50px;
  font-weight: bold;
}

button2:hover {
  background-color: rgb(118, 118, 177);
  color:black;
}
