.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    height: 100px;
    margin-bottom: -20px;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.middle {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
}
.host{
    color: #43EFC6;
}

.title, .subtext, .platform, .price, .company, .login {
    margin-right: 10px;
    color: #646464;
}

.dropdown-button1 {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 50px;
}

.dropdown-button1:focus {
    outline: none;
}

.book-demo-button1 {
    background-color: #3CECD5;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: -20px;
}

.book-demo-button1:hover {
    background-color: #3CECD5;
    font-weight: bold;
}

.login {
    margin-right: 10px;
    cursor: pointer;
    color: #848484;
    margin-bottom: -20px;
}

.arrow svg {
    vertical-align: middle;
}

.navbar-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Light white border */
    margin: 0;
    padding: 0;
}
