.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    padding: 10px 20px;
    font-size: 18px;
    height: 100px;
    margin-bottom: -20px;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.middle {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: white; /* Ensure logo text is white */
    margin-bottom: 25px;
    text-decoration: none;
}

.host {
    color: #43EFC6;
}

.title, .subtext, .platform, .price, .company, .login {
    margin-right: 10px;
    color: #C0C0C0; /* Set a lighter color for better contrast against black background */
    margin-bottom: 50px;
}

.dropdown-button1 {
    background: none;
    border: none;
    color: white; /* Ensure dropdown button color is white */
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 50px;
}

.dropdown-button1:focus {
    outline: none;
}

.book-demo-button1 {
    background-color: #3CECD5;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    text-wrap: nowrap;
}

.book-demo-button1:hover {
    background-color: #3CECD5;
    font-weight: bold;
}

.login {
    margin-right: 20px;
    cursor: pointer;
    color: #C0C0C0; /* Set login text color to lighter shade */
    margin-bottom: 10px;
    text-decoration: none;
}

.arrow svg {
    vertical-align: middle;
}
.username {
    font-weight: bold;
    margin-right: 10px;
    color: #43EFC6; /* Color for username */
  }
  
  .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #3CECD5; /* Button background color */
    color: black; /* Button text color */
    font-size: 14px;
    margin-left: 10px;
    margin-top: -11px;
    font-weight: bold;
  }
  
  .logout-button:hover {
    background-color: #3CECD5; /* Darker shade on hover */
    color: white; /* Text color on hover */
  }

.navbar-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Light white border */
    margin: 0;
    padding: 0;
}
